# Archivos de build
bin/
obj/

#Rider
.idea/

# Las credenciales de Firebase nunca se deben de subir
**/Config/firebase-credentials.json

# Archivos locales
appsettings.Development.json
 
# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de usuario
*.user
*.suo