# Archivos de build
bin/
obj/

#Rider
.idea/

# Visual Studio
.vs/

# Las credenciales de Firebase nunca se deben de subir
ProyectoQ3Backend/config/*.json

# Archivos locales
appsettings.Development.json

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de usuario
*.user
*.suo
